@model HaftaCode.Models.Tablolarim.ilac

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ilac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ilacadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilacadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Barkod }) |
    @Html.ActionLink("Back to List", "Index")
</p>
